/*2ºtipos de letra*/
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

@font-face { 
    font-family: 'Grenze Gotisch' ; 
    src: url('../fonts/GrenzeGotisch-ExtraBold.ttf'); 
}
@font-face {
    font-family: 'Agu Display';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/agudisplay/v1/iJWXBXKbbi6BeMC1_RX7qF_V5E7aciGRRWUwX4fdlqVK.woff2) format('woff2');
  }
  .tipoLetra {
    font-family: "Agu Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 0;
  }
  
 #segunda {
    font-family: Arial, Helvetica, sans-serif;
 }
 .destacado1{
    font-family: "Grenze Gotisch", serif;
    font-weight: 400;
    font-style: normal;
 }
 .lacquer-regular {
    font-family: "Lacquer", serif;
    font-weight: 400;
    font-style: normal;
  }
  /* HTML */
 * {
     margin: 40px, auto;
     border: 20px, auto;
     padding: 20px, auto;
     content: 10px, auto;
 }

/*1º Unidades de medida*/
 #saludoDoble {
     font-size: 2em;
 }
 #saludoTriple {
     font-size: 3em;
 }

/*3º pseudoclases*/
 ol li {
     font-weight: bold;
 }

 .first-child {
     color: red;
 }

 ol li:nth-child(3) {
     color: green;
 }

 ol li:last-child {
     color: blue;
 }

 /*4ºpseudoclases tabla*/
 table {
     width: 60%;
     margin: 40px, auto;
     border-style: groove;
     border-color: lightgrey;
 }

 thead tr,
 tfoot tr {
     background-color: brown;
     color: white;
 }

 td:last-child {
     font-weight: bold;
 }

 tbody tr:nth-child(odd) {
     background-color: #00008b;
     /* internet dice que añil es azul oscuro el codigo de azul oscuro es #00008b */
     color: white;
 }

 tbody tr:nth-child(even) {
     background-color: white;
     color: #00008b;
 }

 /* 5º pseudoelementos*/
 #ElQuijote {
     position: relative;
 }

 #ElQuijote::after {
     content: " SEGUIR LEYENDO...";
 }

 #ElQuijote::first-letter {
     font-size: 3em;
 }