/*ejercicio 1*/
#saludoDoble {
    font-size: 2em;
}

#saludoTriple {
    font-size: 3em;
}

/*ejercicio 2*/
#p1{
    @font-face {
        font-family: italic;
        src: url();
    }
}
#P2{
    @font-face {
        font-family: arial ;
        src: url();
    }
}